<%= form_with url: checkout_path, class: "shipping-form", method: :post, local: true do |form| %>
  <div class="field">
    <%= form.label :address_line1, "Address Line 1" %>
    <%= form.text_field :address_line1, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label :address_line2, "Address Line 2 (Optional)" %>
    <%= form.text_field :address_line2, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label :province_id, "Province" %>
    <%= form.collection_select :province_id, Province.all, :id, :name, { selected: @province_id }, required: true%>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: "form-control", required: true %>
  </div>
  <div class="actions">
    <%= form.submit "Proceed to Checkout", class: "form-submit"%>
  </div>
  <!-- HIDDEN FIELDS for pricing and tax -->
  <%= form.hidden_field :subtotal %>
  <%= form.hidden_field :gst_amount %>
  <%= form.hidden_field :pst_amount %>
  <%= form.hidden_field :hst_amount %>
  <%= form.hidden_field :tax_total %>
  <%= form.hidden_field :total_price %>
  <%= form.hidden_field :order_status, value: "unpaid" %>
<% end %>

